<nav class="navbar navbar-inverse customNavbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Blog']">Zamarrowski</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['Blog']" href="#">Blog</a></li>
        <li><a [routerLink]="['Sobremi']">Sobre mi</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="socialIcons">
      <div (click)="redirecToSocialPage('https://twitter.com/zamarrowski')" class="socialIconBox twitterIcon">
        <i class="fa fa-twitter"></i>
      </div>

      <div (click)="redirecToSocialPage('https://www.facebook.com/profile.php?id=100008256190552')" class="socialIconBox facebookIcon">
        <i class="fa fa-facebook"></i>
      </div>

      <div (click)="redirecToSocialPage('http://stackoverflow.com/users/4623621/zamarrowski')" class="socialIconBox stacoverflowIcon">
        <i class="fa fa-stack-overflow"></i>
      </div>

      <div (click)="redirecToSocialPage('https://github.com/zamarrowski')" class="socialIconBox githubIcon">
        <i class="fa fa-github"></i>
      </div>

      <div (click)="redirecToSocialPage('https://es.linkedin.com/in/sergio-zamarro-s%C3%A1nchez-b7834abb')" class="socialIconBox linkedinIcon">
        <i class="fa fa-linkedin"></i>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
