<div class="container">
  <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Sergio Zamarro Sánchez</span>
              <h4 class="centerTitle">Javascript Developer</h4>
              <hr>
              <h5 class="centerTitle">¿Quién soy?</h5>
              <p class="justifyText">Me llamo Sergio Zamarro Sánchez, soy Técnico Superior en Desarrollo de Aplicaciones Web y Javascript Developer. Actualmente trabajo como Javascript Developer e invierto parte de mi tiempo libre en desarrollar mis propios proyectos.</p>
              <h5 class="centerTitle">¿Qué hago?</h5>
              <p class="justifyText">Soy un apasionado de la programación, en concreto, de la programación web. Me encanta programar con Javascript desde el Front-End (AngularJS, Angular2, jQuery...) hasta el Back-end (NodeJS, MongoDB).</p>
              <h5 class="centerTitle">¿Qué proyectos he desarrollado?</h5>
              <p class="justifyText">Todos los proyectos que menciono a continuación los he desarrollado por cuenta propia y por amor al arte :)</p>
              <ul class="justifyText customList">
                <li>
                  <p><a href="http://www.medicaldev.es/vademecum" target="_blank">MD-Vademecum</a>: Es un una aplicación que te sirve más de 90.000 medicamentos además de enfermedades, interacciones o principios activos.
                  Desarrollé versiones para web, iOS y Android.
                  Las tecnologías que use para esta aplicación fueron PHP, Javascript, jQuery, CSS3, HTML5 y MySQL.
                  Era una aplicación de pago por 0.99€ y consiguió más de 400 descargas en poco tiempo.
                  Hubo varias páginas web importantes del sector Android que publicaron artículos hablando de ella:</p>
                  <ul class="customList">
                    <li><a target="_blank" href="http://andro4all.com/2015/03/md-vademecum-app-android-medicamentos-enfermedades">MD-Vademecum: app Android sobre medicamentos y enfermedades</a></li>
                    <li><a target="_blank" href="http://www.elandroidelibre.com/2015/03/md-vademecum-la-base-de-datos-medica-mas-completa-para-android.html">MD-Vademecum, la base de datos médica más completa para Android</a></li>
                  </ul>
                  <br>
                </li>
                <li>
                  <p><a target="_blank" href="http://www.findeck.es">Findeck</a>: Es una aplicación que te permite buscar en tiempo real tablas de skateboard en más de 10 tiendas en cuestión de segundos.
                  Te permite filtrar por marca, tamaño, precio...
                  Desarrolle unos crawlers que se encargaban de rastrear las tiendas para mostrar los resultados en tiempo real.
                  Las tecnologías que use para esta aplicación fueron PHP, AngularJS, Javascript, Ionic Framework, Cordova, HTML5, CSS3, Bootstrap y MySQL.
                  Desarrollé versión web, iOS y Android.
                  Todas están actualmente en sus respectivos markets.</p>
                </li>
                <li>
                  <p>
                    <a href="http://www.okupapp.com" target="_blank">Okupapp</a>: es una app social que gracias a los aportes anónimos de los ciudadanos pone visibles las casas que están vacías y son propiedad de los bancos.
                    Las tecnologías que use para esta aplicación fueron PHP, AngularJS, Javascript, Ionic Framework, Cordova, HTML5, CSS3, Bootstrap y MySQL.
                    Desarrollé la aplicación para iOS y Android.
                  </p>
                </li>
                <li>
                  <p><a href="https://play.google.com/store/apps/details?id=com.ionicframework.misturnosmobile428150" target="_blank">Misturnos</a>: MisTurnos te permite controlar de manera fácil y segura los turnos del trabajo.
                    Además puedes ver estadísticas de los turnos de manera muy atractiva a través de gráficas.
                    Los turnos se guardan en la nube, de tal forma, que aunque cambies de móvil no perderás los turnos.
                    Solo tendrás que iniciar sesión con tu cuenta. Desarrollé una aplicación web y para Android.
                    Las tecnologías que use para esta aplicación fueron NodeJS, MongoDB, Bootstrap, jQuery, AngularJS, SASS, CSS3, HTML5.</p>
                </li>
                <li>
                  <p>
                    <a href="http://sergiozamarro.me" target="_blank">Mi pagina personal</a>: Es decir, en la que estás. He desarrollado este blog usando Angular2, TypeScript, SASS y apoyandome en la API de Wordpress para poder usar Wordpress como CMS para las entradas del blog.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
